@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400&display=swap");
.hide {
  opacity: 0;
  visibility: hidden;
}

.header {
  height: 90px;
}
.header > .search input {
  background-color: rgb(233, 243, 243);
  outline: none;
  border-radius: 3px;
}
.header > .search input::-moz-placeholder {
  font-size: 20px;
  caret-color: black;
  padding-left: 10px;
}
.header > .search input:-ms-input-placeholder {
  font-size: 20px;
  caret-color: black;
  padding-left: 10px;
}
.header > .search input::placeholder {
  font-size: 20px;
  caret-color: black;
  padding-left: 10px;
}
.header .icons i:nth-of-type(1) > section {
  height: 100vh;
}

.menu {
  height: 60px;
  background: rgb(67, 177, 138);
}
.menu > ul > li {
  color: white;
}
.menu > ul > li:nth-of-type(1) {
  background-color: rgb(41, 31, 81);
}
.menu > ul > li:nth-of-type(1):hover > div {
  opacity: 1;
  visibility: visible;
}
.menu .subMenu1 {
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: 1s;
}
.menu .subMenu1 > ul > li > i {
  color: black;
  cursor: pointer;
}
.menu .subMenu1 > ul > li > i:hover {
  transform: rotate(-95deg);
}
.menu .subMenu1 > ul > li > i:hover ~ ul {
  opacity: 1;
  visibility: visible;
}
.menu .subMenu1 > ul > li > ul {
  opacity: 0;
  visibility: hidden;
  transition: 1s;
}
.menu .subMenu1 > ul > li > ul a {
  color: black;
  transition: 0.4s;
}
.menu .subMenu1 > ul > li > ul a:hover {
  color: green;
}

@-webkit-keyframes img1 {
  0%, 30%, 100% {
    left: 0;
  }
  36% {
    left: 100%;
  }
  36.0000000001%, 94% {
    left: -100%;
  }
}

@keyframes img1 {
  0%, 30%, 100% {
    left: 0;
  }
  36% {
    left: 100%;
  }
  36.0000000001%, 94% {
    left: -100%;
  }
}
@-webkit-keyframes img2 {
  0%, 30%, 100%, 69.00000001% {
    left: -100%;
  }
  36%, 63% {
    left: 0;
  }
  69% {
    left: 100%;
  }
}
@keyframes img2 {
  0%, 30%, 100%, 69.00000001% {
    left: -100%;
  }
  36%, 63% {
    left: 0;
  }
  69% {
    left: 100%;
  }
}
@-webkit-keyframes img3 {
  0%, 63% {
    left: -100%;
  }
  69%, 94% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}
@keyframes img3 {
  0%, 63% {
    left: -100%;
  }
  69%, 94% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}
@-webkit-keyframes slide-top {
  100% {
    transform: translateY(-50px);
    opacity: 1;
  }
}
@keyframes slide-top {
  100% {
    transform: translateY(-50px);
    opacity: 1;
  }
}
.slider {
  height: 500px;
}
.slider > div:nth-of-type(1) {
  overflow-x: hidden;
}
.slider > div:nth-of-type(1) > span {
  z-index: 99;
}
.slider > div:nth-of-type(1) > span > * {
  width: 15px;
  height: 15px;
  background-color: black;
  border-radius: 50%;
}
.slider > div:nth-of-type(1) .anim > * {
  color: rgb(41, 31, 81);
  opacity: 0;
}
.slider > div:nth-of-type(1) .anim > p {
  -webkit-animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s alternate forwards;
          animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s alternate forwards;
}
.slider > div:nth-of-type(1) .anim > h1 {
  font-weight: 600;
  font-family: "Fredoka", sans-serif;
  -webkit-animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2s alternate forwards;
          animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2s alternate forwards;
}
.slider > div:nth-of-type(1) .anim > button {
  -webkit-animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 3s alternate forwards;
          animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 3s alternate forwards;
}
.slider > div:nth-of-type(1) > div:nth-of-type(2) > .anim > * {
  color: green;
}
.slider > div:nth-of-type(1) > div:nth-of-type(2) > .anim > p {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}
.slider > div:nth-of-type(1) > div:nth-of-type(2) > .anim > h1 {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}
.slider > div:nth-of-type(1) > div:nth-of-type(2) > .anim > button {
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}
.slider > div:nth-of-type(1) > div:nth-of-type(3) > .anim > * {
  color: blue;
}
.slider > div:nth-of-type(1) > div:nth-of-type(3) > .anim > p {
  -webkit-animation-delay: 12s;
          animation-delay: 12s;
}
.slider > div:nth-of-type(1) > div:nth-of-type(3) > .anim > h1 {
  -webkit-animation-delay: 13s;
          animation-delay: 13s;
}
.slider > div:nth-of-type(1) > div:nth-of-type(3) > .anim > button {
  -webkit-animation-delay: 14s;
          animation-delay: 14s;
}
.slider > div:nth-of-type(1) > div:nth-of-type(1) {
  background-image: url(./imgs/logo/slides/slider1.jpg);
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
  -webkit-animation: img1 linear infinite 15s;
          animation: img1 linear infinite 15s;
}
.slider > div:nth-of-type(1) > div:nth-of-type(2) {
  background-image: url(./imgs/logo/slides/slider2.jpg);
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
  -webkit-animation: img2 linear infinite 16s;
          animation: img2 linear infinite 16s;
}
.slider > div:nth-of-type(1) > div:nth-of-type(3) {
  background-image: url(./imgs/logo/slides/slider3.jpg);
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
  -webkit-animation: img3 linear infinite 17s;
          animation: img3 linear infinite 17s;
}
.slider .cards > div:nth-of-type(1),
.slider .cards :nth-of-type(2),
.slider .cards :nth-of-type(3) {
  transition: 2s;
}
.slider .cards > div:nth-of-type(1):hover > figure > img:nth-of-type(2),
.slider .cards :nth-of-type(2):hover > figure > img:nth-of-type(2),
.slider .cards :nth-of-type(3):hover > figure > img:nth-of-type(2) {
  display: none;
}

.type {
  margin-top: 350px;
}
.type .circle p {
  padding-top: 40px;
  padding-left: 30px;
  font-size: 20px;
}
.type .circle > div figure img {
  position: relative;
  transform: translate(100%, 30%);
}
.type .circle > div figure::before {
  content: "";
  display: flex;
  width: 100px;
  height: 100px;
  background-color: rgb(216, 233, 211);
  position: absolute;
  border-radius: 50%;
  transform: translate(47%, 2%);
}
.type .circle > div:nth-of-type(2) > figure::before {
  background-color: rgb(236, 231, 217);
}
.type .circle > div:nth-of-type(3) figure::before {
  background-color: rgb(209, 225, 220);
}
.type .circle > div:nth-of-type(4) figure::before {
  background-color: rgb(233, 214, 214);
}
.type .circle > div:nth-of-type(5) figure::before {
  background-color: rgb(231, 231, 231);
}
.type .circle > div:nth-of-type(6) figure::before {
  background-color: rgb(211, 220, 233);
}

@-webkit-keyframes spining {
  to {
    width: 50px;
    height: 50px;
  }
}

@keyframes spining {
  to {
    width: 50px;
    height: 50px;
  }
}
.shop {
  height: 450px;
}
.shop .left > * {
  color: rgb(41, 31, 81);
  font-family: "Fredoka", sans-serif;
}
.shop .left > h2 {
  font-weight: bolder;
}
.shop .left > button {
  background-color: rgb(41, 31, 81);
}
.shop .rightImg {
  position: relative;
}
.shop .rightImg span {
  width: 25px;
  height: 25px;
  background-color: #fff;
  display: flex;
  position: absolute;
  top: 60%;
  left: 26%;
  border-radius: 50%;
}
.shop .rightImg span::before {
  content: "";
  display: flex;
  width: 0px;
  height: 0px;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  border-radius: 50%;
  top: -20%;
  left: -20%;
  -webkit-animation: spining linear infinite 3s;
          animation: spining linear infinite 3s;
  z-index: 0;
}
.shop .rightImg > span:nth-of-type(2) {
  left: 46%;
}
.shop .rightImg > span:nth-of-type(3) {
  left: 66%;
}

.trend .card_wrapper {
  width: 100%;
  height: 700px;
  position: relative;
}
.trend .card_wrapper .card_box {
  transition: 0.4s;
  position: relative;
}
.trend .card_wrapper .card_box > .to_card {
  display: none;
  position: absolute;
  top: 56%;
  width: 100%;
  border-radius: 10px;
  height: 50px;
}
.trend .card_wrapper .card_box:hover > .to_card {
  display: flex;
  line-height: 50px;
  justify-content: center;
  background: rgb(67, 177, 138);
  font-size: 20px;
}
.trend .card_wrapper .card_box:hover > .to_card > i {
  padding-right: 15px;
}
.trend .card_wrapper .card_box:hover > .to_card:hover {
  background-color: #291f51;
}
.trend .card_wrapper .card_box:hover > img:nth-of-type(2) {
  display: none;
}
.trend .card_wrapper .head_text {
  color: #291f51;
  font-weight: bolder;
  font-family: "Fredoka", sans-serif;
  font-size: 50px;
}
.trend .card_wrapper .card_text {
  padding: 30px 20px 25px 20px;
}
.trend .card_wrapper .owl-nav > .owl-prev, .trend .card_wrapper .owl-nav > .owl-next {
  width: 50px;
  height: 50px;
  background-color: rgb(67, 177, 138);
  position: absolute;
  color: white;
  font-size: 50px;
  display: flex;
  justify-content: center;
  line-height: 35px;
  top: 50%;
}
.trend .card_wrapper .owl-nav > .owl-next {
  right: -5%;
}
.trend .card_wrapper .owl-nav > .owl-prev {
  left: -5%;
}

.desc {
  height: 400px;
}
.desc div {
  width: 520px;
  height: 100%;
  display: flex;
  align-content: space-around;
  justify-content: center;
  flex-wrap: wrap;
  color: rgb(249, 221, 169);
  padding: 20px;
}
.desc div > h2 {
  padding-top: 150px;
  font-weight: 800;
}
.desc div > p {
  padding-bottom: 150px;
  padding-top: 20px;
  font-size: 20px;
}
.desc > div:nth-of-type(1) {
  background-color: rgb(52, 45, 82);
}
.desc > div:nth-of-type(2) {
  background-color: rgb(74, 67, 100);
}
.desc > div:nth-of-type(3) {
  background-color: rgb(95, 89, 120);
}

.item_to_card .card_sec > h2 {
  color: #291f51;
}
.item_to_card .card_sec .item_desc button {
  border: none;
  outline: none;
  background: #fff;
}
.item_to_card .card_sec .item_desc button:hover {
  border: 2px solid rgb(67, 177, 138);
  outline: none;
}
.item_to_card .card_sec .item_desc button:focus {
  border: none;
  outline: none;
}
.item_to_card .card_sec .item_desc .size > button:nth-of-type(1), .item_to_card .card_sec .item_desc .flavour > button:nth-of-type(1) {
  border: 1px solid rgb(67, 177, 138);
}
.item_to_card .card_sec .item_desc .cardBtn > button {
  width: 300px;
  background-color: rgb(67, 177, 138);
}
.item_to_card .card_sec .item_desc .cardBtn > button:hover {
  background-color: #291f51;
}
.item_to_card .card_sec .item_desc .payment img {
  width: 55px;
}

@-webkit-keyframes animationBar {
  0% {
    transform: translateX(0px);
  }
  80% {
    transform: translateX(110%);
  }
  100% {
    transform: translateX(-100px);
  }
}

@keyframes animationBar {
  0% {
    transform: translateX(0px);
  }
  80% {
    transform: translateX(110%);
  }
  100% {
    transform: translateX(-100px);
  }
}
@-webkit-keyframes animationBar2 {
  to {
    transform: translateX(80%);
  }
}
@keyframes animationBar2 {
  to {
    transform: translateX(80%);
  }
}
@-webkit-keyframes animationBar3 {
  to {
    transform: translateX(60%);
  }
}
@keyframes animationBar3 {
  to {
    transform: translateX(60%);
  }
}
.animationBar {
  overflow-x: hidden;
  background-image: linear-gradient(to right, rgb(255, 240, 217), rgb(255, 219, 186), rgb(255, 193, 149));
}
.animationBar h6 {
  color: #291f51;
  -webkit-animation: animationBar linear infinite 15s;
          animation: animationBar linear infinite 15s;
}
.animationBar h6:nth-of-type(2) {
  color: #291f51;
  transform: translateX(-500px);
  -webkit-animation: animationBar2 linear infinite 15s;
          animation: animationBar2 linear infinite 15s;
}
.animationBar h6:nth-of-type(3) {
  color: #291f51;
  transform: translateX(-1000px);
  -webkit-animation: animationBar3 linear infinite 15s;
          animation: animationBar3 linear infinite 15s;
}

.comments {
  height: 270px;
  color: #291f51;
}
.comments .comment {
  color: rgb(93, 85, 123);
  line-height: 25px;
  font-size: 20px;
}
.comments .card_box {
  width: 400px;
  background-color: #291f51;
}/*# sourceMappingURL=master.css.map */